# Virtual Environment
venv/
env/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Instance folder
instance/

# Uploaded files
uploads/*
!uploads/.gitkeep

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db